{% extends "base.html.twig" %}

{% block body %}
{# Message flash de type "Bonjour" #}
{% for message in app.flashes("Bonjour") %}
    <div>{{message}}</div>
{% endfor %}
{# Message flash pour plusieurs types #}
{% for categorie, messages in app.flashes(["Hello", "redirect"]) %}
    {% for m in messages %}
        <div><strong>{{ categorie }} : </strong>{{m}}</div>
    {% endfor %}
{% endfor %}
{# Récupérer une information en session : #}
<h2>Déjà {{ app.session.get("nbVisite") }} visite(s)</h2>
<p>
    Bonjour {{prenom ~" " ~ nom}}.
</p>
<a href="{{ path("bonjour",{nom:"Fontaine", prenom:"Jean"} ) }}">Dire Bonjour à Jean Fontaine</a>
{% endblock %}
